[Desktop Entry]
Encoding=UTF-8
Name=Link to File:Trentino CoA.svg
Type=Link
URL=https://upload.wikimedia.org/wikipedia/commons/2/24/Trentino_CoA.svg
Icon=image-svg+xml
Name[en_US]=logo.svg
