[Desktop Entry]
Encoding=UTF-8
Name=Link to https://www.vconsulting.it/wp-content/uploads/2020/06/provincia-autonoma-di-trento-riparti-trentino-valore-consulting.jpg
Type=Link
URL=https://www.vconsulting.it/wp-content/uploads/2020/06/provincia-autonoma-di-trento-riparti-trentino-valore-consulting.jpg
Icon=image-jpeg
Name[en_US]=trento.jpg
